body,
html {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.current-player-image {
  width: 21%;
  height: auto;
}

.turn-indicator {
  font-size: 110px;
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(#1E90FF,#490979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.side-image {
  height: 25%;
  width: 25%;
}

.wins-indicator {
  font-size: 50px;
}

.right-border {
  border-right: 12px solid #1E90FF;
}

.top-border {
  border-top: 12px solid #490979;
}

aside {
  background: linear-gradient(#1E90FF,#490979);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
}

aside,
main,{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  display: flex;
  justify-content: center;
}

.grid {
  margin: 0;

  display: inline-grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 180px 180px 180px;
  grid-gap: 0px
}

main > section {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 200px;
}
